<br>
<section class="services-details-area ptb-110">
  <div class="container">
    <div class="services-details-overview">
      <div class="services-details-image wow fadeInUp">
        <img src="assets/img/services-details/auto-network.jpg" alt="image">
      </div>

      <div class="services-details-desc">
        <h3>Accounts Form</h3>
        <form id="authForm" [formGroup]="accountForm" (ngSubmit)="onAccountFormSubmit(accountForm.value)">


          <div class="form-floating mb-3">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
              <!-- <option selected>Select Network</option>
              <option value="0">Auto Detect</option> -->
              <option>Select Account Type</option>
              <option value="current">Current Account</option>
              <option value="savings">Savings Account</option>
              <option value="joint">Joint Account</option>

            </select>
            <label for="floatingSelect">Account Type</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text"
                   class="form-control"
                   id="description"
                   formControlName="description"
                   placeholder="e.g. describe your account"
                   required>
            <label for="description">Description</label>
          </div>


          <!--          <div *ngIf="airtimeForm.controls['recipientNumber'].invalid && (airtimeForm.controls['recipientNumber'].dirty || airtimeForm.controls['recipientNumber'].touched)" class="alert alert-danger">-->
          <!--            <div *ngIf="airtimeForm.controls['recipientNumber'].errors.required">-->
          <!--              Recipient Number is required.-->
          <!--            </div>-->
          <!--          </div>-->


          <!--          <div *ngIf="airtimeForm.controls['amount'].invalid && (airtimeForm.controls['amount'].dirty || airtimeForm.controls['amount'].touched)" class="alert alert-danger">-->
          <!--            <div *ngIf="airtimeForm.controls['amount'].errors.required">-->
          <!--              Amount is required.-->
          <!--            </div>-->
          <!--          </div>-->

          <button type="submit"

                  class="btn btn-primary btn-sm mt-2"
                  id="recharge">
            Proceed
          </button>
          <!--          <button type="button"-->
          <!--                  disabled-->
          <!--                  class="btn btn-primary btn-sm mt-2"-->
          <!--                  id="loading">-->
          <!--            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->
          <!--            Loading...-->
          <!--          </button>-->
        </form><br><br>
        <!-- <p>
            Topup and be rewarded with royalty points on this app.
            Points can be redeemed in form of Cash, Airtime, Data, Fuel, Bill Payment, Free Travel and many more...
        </p> -->
      </div>


    </div>
  </div>
</section>
