<!-- Start Topbar Wrap Area -->
<div class="topbar-wrap-area d-none" [ngClass]="{'d-block': router?.url === '/home-6' || router?.url === '/home-7'}">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-3 col-md-3">
        <div class="topbar-content">
          <span>Welcome to UoE Bank. Need Help? <a href="contact.html">Contact Us</a></span>
        </div>
      </div>
      <div class="col-lg-9 col-md-9">
        <ul class="topbar-action-list">
          <li><i class="fa-solid fa-location-pin"></i> University of Energy of Ghana, Sunyani</li>
          <li>
            <i class="fa-solid fa-phone"></i> <a href="tel:233593998216">+44 587 154756</a>
          </li>
          <li>
            <i class="fa-solid fa-envelope"></i> <a href="mailto:p2founda@gmail.com">support@uoe.com.gh</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Topbar Wrap Area -->

<!-- Start Navbar Area -->
<div class="{{navClass}}" >
  <div class="kirin-nav">
    <div class="{{navContainer}}">
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" routerLink="/">
          <!--          <img src="{{logo}}" class="main-logo" alt="logo">-->
          <!--          <img src="assets/img/black-logo.png" class="optional-logo" alt="logo">-->
          <h3 style="color: white;">UoE Bank</h3>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item dropdown pages-dropdown">
              <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                Home
              </a>
            </li>

            <!--            <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">-->
            <!--              <a routerLink="/about" routerLinkActive="active" class="nav-link">About Us</a>-->
            <!--            </li>-->

<!--            products-->
            <li class="nav-item dropdown pages-dropdown">
              <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                Products <i class="fas fa-chevron-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                  <a routerLink="/products/current-accounts" routerLinkActive="active" class="nav-link"> Current Accounts</a>
                </li>

                <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                  <a routerLink="/products/saving-accounts" routerLinkActive="active" class="nav-link">Saving Accounts</a>
                </li>

                <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                  <a routerLink="/products/fixed-deposits" routerLinkActive="active" class="nav-link">Fixed Deposits</a>
                </li>

                <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                  <a routerLink="/products/credit-cards" routerLinkActive="active" class="nav-link">Credit Cards</a>
                </li>
                <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                  <a routerLink="/products/debit-cards" routerLinkActive="active" class="nav-link">Debit Cards</a>
                </li>

                <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                  <a routerLink="/products/investments" routerLinkActive="active" class="nav-link">Investment</a>
                </li>
                <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                  <a routerLink="/products/loans" routerLinkActive="active" class="nav-link">Loan</a>
                </li>
              </ul>
            </li>
            <!-- / products-->

<!--            services-->
            <li class="nav-item dropdown">
              <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                Services <i class="fas fa-chevron-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                  <a routerLink="/services" routerLinkActive="active" class="nav-link">Digital Banking</a>
                </li>

                <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                  <a routerLink="/service-details" routerLinkActive="active" class="nav-link">UoE Mobile</a>
                </li>
              </ul>
            </li>
            <!-- /  services-->


            <!--  dashboard -->
            <li class="nav-item dropdown pages-dropdown">
              <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                My Dashboard <i class="fas fa-chevron-down"></i>
              </a>
              <ul class="dropdown-menu">

                <li class="nav-item dropdown-submenu">
                  <a href="javascript:void(0)" class="nav-link">
                    Accounts <i class="fas fa-chevron-down"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                      <a routerLink="/services" routerLinkActive="active" class="nav-link">Account Summary</a>
                    </li>

                    <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                      <a routerLink="/service-details" routerLinkActive="active" class="nav-link">Transaction History</a>
                    </li>
                  </ul>
                </li>

                <li class="nav-item dropdown-submenu">
                  <a href="javascript:void(0)" class="nav-link">
                    Transfers <i class="fas fa-chevron-down"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                      <a routerLink="/blog" routerLinkActive="active" class="nav-link">Between Own Accounts</a>
                    </li>
                    <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                      <a routerLink="/blog" routerLinkActive="active" class="nav-link">Local Transfers</a>
                    </li>
                    <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                      <a routerLink="/blog" routerLinkActive="active" class="nav-link">International Transfers</a>
                    </li>
                    <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                      <a routerLink="/blog-details" routerLinkActive="active" class="nav-link">Manage Beneficiaries</a>
                    </li>

                  </ul>
                </li>

                <li class="nav-item dropdown-submenu">
                  <a href="javascript:void(0)" class="nav-link">
                    Payments <i class="fas fa-chevron-down"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                      <a routerLink="/blog" routerLinkActive="active" class="nav-link">Mobile Money</a>
                    </li>
                    <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                      <a routerLink="/blog" routerLinkActive="active" class="nav-link">Pay Bills</a>
                    </li>
                    <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                      <a routerLink="/blog" routerLinkActive="active" class="nav-link">Credit Card Payments</a>
                    </li>
                    <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                      <a routerLink="/blog-details" routerLinkActive="active" class="nav-link">Payments History</a>
                    </li>
                  </ul>
                </li>

                <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                  <a routerLink="/pages/products/loans" routerLinkActive="active" class="nav-link">Loan</a>
                </li>
                <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                  <a routerLink="pages/products/investments" routerLinkActive="active" class="nav-link">Invest</a>
                </li>
              </ul>
            </li>
            <!-- / dashboard-->

            <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
              <a routerLink="/help" routerLinkActive="active" class="nav-link">Help</a>
            </li>

            <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
              <a routerLink="/contact-us" routerLinkActive="active" class="nav-link">Contact</a>
            </li>

          </ul>

          <div class="others-options">
            <div class="option-item"><i class="search-btn flaticon-search"></i>
              <i class="close-btn fas fa-times"></i>
              <div class="search-overlay search-popup">
                <div class='search-box'>
                  <form class="search-form">
                    <input class="search-input" name="search" placeholder="Search" type="text">
                    <button class="search-button" type="submit"><i class="fas fa-search"></i></button>
                  </form>
                </div>
              </div>
            </div>

            <a routerLink="/contact" class="btn btn-primary">Apply</a>
            <a routerLink="/contact" class="btn btn-primary">Login</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- End Navbar Area -->
