<br>
<section class="services-details-area ptb-110">
  <div class="container">
    <div class="services-details-overview">
      <div class="services-details-image wow fadeInUp">
        <img src="assets/img/services-details/auto-network.jpg" alt="image">
      </div>

      <div class="services-details-desc">
        <h3>Register Form</h3>
        <form id="registerForm" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit(registerForm.value)">

          <div class="form-floating mb-3">
            <input type="text"
                   class="form-control"
                   id="username"
                   formControlName="username"
                   placeholder="e.g. yourname"
                   required>
            <label for="username">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text"
                   class="form-control"
                   id="firstName"
                   formControlName="firstName"
                   placeholder="e.g. First Name"
                   required>
            <label for="username">First Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text"
                   class="form-control"
                   id="lastName"
                   formControlName="lastName"
                   placeholder="e.g. lastName"
                   required>
            <label for="username">LastName</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email"
                   class="form-control"
                   id="email"
                   formControlName="email"
                   placeholder="e.g. Email"
                   required>
            <label for="username">Email</label>
          </div>

          <div class="form-floating mb-3">
            <input type="number"
                   class="form-control"
                   id="phoneNumber"
                   formControlName="phoneNumber"
                   placeholder="e.g. Phone Number"
                   required>
            <label for="username">Phone Number</label>
          </div>

          <div class="form-floating mb-3">
            <input type="password"
                   class="form-control"
                   id="password"
                   formControlName="password"
                   placeholder="e.g. password"
                   required>
            <label for="password">Password (8-22 min-max)</label>
          </div>

          <div class="form-floating mb-3">
            <input type="password"
                   class="form-control"
                   id="retypedPassword"
                   formControlName="retypedPassword"
                   placeholder="e.g. retypedPassword"
                   required>
            <label for="retypedPassword">Retype Password</label>
          </div>
          <!--          <div *ngIf="airtimeForm.controls['recipientNumber'].invalid && (airtimeForm.controls['recipientNumber'].dirty || airtimeForm.controls['recipientNumber'].touched)" class="alert alert-danger">-->
          <!--            <div *ngIf="airtimeForm.controls['recipientNumber'].errors.required">-->
          <!--              Recipient Number is required.-->
          <!--            </div>-->
          <!--          </div>-->


          <!--          <div *ngIf="airtimeForm.controls['amount'].invalid && (airtimeForm.controls['amount'].dirty || airtimeForm.controls['amount'].touched)" class="alert alert-danger">-->
          <!--            <div *ngIf="airtimeForm.controls['amount'].errors.required">-->
          <!--              Amount is required.-->
          <!--            </div>-->
          <!--          </div>-->

          <button type="submit"

                  class="btn btn-primary btn-sm mt-2"
                  id="register">
            Proceed
          </button>
          <!--          <button type="button"-->
          <!--                  disabled-->
          <!--                  class="btn btn-primary btn-sm mt-2"-->
          <!--                  id="loading">-->
          <!--            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->
          <!--            Loading...-->
          <!--          </button>-->
        </form><br><br>
        <!-- <p>
            Topup and be rewarded with royalty points on this app.
            Points can be redeemed in form of Cash, Airtime, Data, Fuel, Bill Payment, Free Travel and many more...
        </p> -->
      </div>


    </div>
  </div>
</section>
