<!-- Start Main Banner Area -->
<div class="home-slides owl-carousel owl-theme">
  <div class="main-banner item-bg1">
    <div class="container">
      <div class="main-banner-content">
        <h1>World’s Leading Machine Learning Company</h1>
        <p>ML today are able to supply needful of help, information, and positive experience of maintaining intimacy with customers. Eventually, chatbot ideas bring a pleasant experience of all these qualities into the conversation.</p>
        <div class="btn-box">
          <a href="#" class="btn btn-primary">Schedule a Demo</a>
          <a href="#" class="optional-btn">Get Started Free</a>
        </div>
      </div>
    </div>
  </div>

  <div class="main-banner item-bg2">
    <div class="container">
      <div class="main-banner-content">
        <h1>World’s Leading Machine Learning Company</h1>
        <p>ML today are able to supply needful of help, information, and positive experience of maintaining intimacy with customers. Eventually, chatbot ideas bring a pleasant experience of all these qualities into the conversation.</p>
        <div class="btn-box">
          <a href="#" class="btn btn-primary">Schedule a Demo</a>
          <a href="#" class="optional-btn">Get Started Free</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Main Banner Area -->

<app-about-area></app-about-area>

<!-- Start Services Area -->
<section class="services-area bg-f2f6f9 ptb-110">
  <div class="container">
    <div class="section-title">
      <h2>We Offer Professional Solutions</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services-box">
          <div class="icon">
            <i class="flaticon-income"></i>
          </div>
          <h3><a routerLink="/service-details">Data Analysts</a></h3>
          <p>It is a long fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services-box">
          <div class="icon">
            <i class="flaticon-automatic"></i>
          </div>
          <h3><a routerLink="/service-details">Automatic Optimization</a></h3>
          <p>It is a long fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services-box">
          <div class="icon">
            <i class="flaticon-locked"></i>
          </div>
          <h3><a routerLink="/service-details">Security & Surveillance</a></h3>
          <p>It is a long fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services-box">
          <div class="icon">
            <i class="flaticon-molecular"></i>
          </div>
          <h3><a routerLink="/service-details">Healthcare & Manufacturing</a></h3>
          <p>It is a long fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services-box">
          <div class="icon">
            <i class="flaticon-gear"></i>
          </div>
          <h3><a routerLink="/service-details">Software Engineers</a></h3>
          <p>It is a long fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-services-box">
          <div class="icon">
            <i class="flaticon-ceo"></i>
          </div>
          <h3><a routerLink="/service-details">IT Professionals</a></h3>
          <p>It is a long fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="shape-img2"><img src="../../../assets/img/shape/shape2.svg" alt="image"></div>
  <div class="shape-img3"><img src="../../../assets/img/shape/shape3.png" alt="image"></div>
  <div class="shape-img4"><img src="../../../assets/img/shape/shape4.svg" alt="image"></div>
  <div class="shape-img5"><img src="../../../assets/img/shape/shape5.svg" alt="image"></div>
  <div class="shape-img7"><img src="../../../assets/img/shape/shape3.png" alt="image"></div>
  <div class="dot-shape1"><img src="../../../assets/img/shape/dot1.png" alt="image"></div>
  <div class="dot-shape2"><img src="../../../assets/img/shape/dot3.png" alt="image"></div>
  <div class="dot-shape4"><img src="../../../assets/img/shape/dot4.png" alt="image"></div>
  <div class="dot-shape5"><img src="../../../assets/img/shape/dot5.png" alt="image"></div>
  <div class="dot-shape6"><img src="../../../assets/img/shape/dot6.png" alt="image"></div>
</section>
<!-- End Services Area -->

<app-partner-area></app-partner-area>

<app-feedback></app-feedback>


<app-free-trial-area></app-free-trial-area>
